@media(min-width: 768px) {
    .welcome_message {
        font-size: 84px;
    }
    }
    @media(max-width: 768px) {
    .welcome_message {
        font-size: 40px;
    }
    }
    @media(max-width: 425px) {
    .welcome_message {
        font-size: 30px;
    }
    }
    .navbar {
        background:blue; 
    }